{
  "usedTxn": "./docs/w-psend-used-txns.json",
  "txnList": "./docs/w-psend-txns.json",
  "changeAddress": "./docs/w-psend-change-address-0",
  "sourceAddress": "./docs/w-psend-address-0",
  "wif": "./docs/w-psend-privkey-0",
  "payeeAddress": "./docs/w-foobar-address-0"
}
